.tweet-image-container{
    display:block;
    padding:auto;
    margin-right:auto;
    margin-left:100px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    
}

.like{
    margin-right:50px;
    font-size:10px;
}